%html
  %title
    = include_css("default")
    = include_js("default")
  %body
    %h1 Title
    .nav 
      = navigation
    .content
      = content_for :article
    .bottom_nav
      .next
      .prev
    .footer
      .copyright
        2012 &copy; Grzegorz Furmanek, All rights reserved.
      .generated
